.table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.table th, .mesa-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #007bff;
    color: #fff;
}
