.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: sandybrown;
    border-bottom: 1px solid #ced4da;
    padding: 0 20px;
    height: 45px;
    box-sizing: border-box;
    overflow: hidden;
}

.home-buttons {
    display: flex;
    align-items: center;
    width: 100%;
}

.button, .logout-button {
    padding: 7px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: saddlebrown;
    margin-left: 10px;
    font-size: 16px;
    height: 30px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.logout-button {
    margin-left: auto;
    background-color: red;
}

.button:hover {
    background-color: #45a049;
}

.logout-button:hover {
    background-color: darkred;
}
